<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .gradient {
            background: linear-gradient(90deg, #87d530 10%, #05aada 100%);
        }
    </style>
</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<!-- component -->
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center ">
        <br> <br>
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">As what do you want to register? </h1>

            <button type="submit" style="width: 100%" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded">
                <a class="no-underline border-b border-blue text-blue" href="/manager/register">
                    Manager
                </a>
            </button> <br>
            <button type="submit" style="width: 100%; margin-top: 1rem;" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">
                <a class="no-underline border-b border-blue text-blue" href="/player/register">
                    Player
                </a>
            </button>
            <br>
            <button type="submit" style="width: 100%; margin-top: 1rem;" class="bg-pink-500 hover:bg-pink-400 text-white font-bold py-2 px-4 rounded">
                <a class="no-underline border-b border-blue text-blue" href="/">
                    I just want to browse
                </a>
            </button>
            <br>
        </div>


    </div>
</div>
</body>
</html>