<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script th:src="@{/PlayerCard/PlayerCard.umd.min.js}"></script>
    <script th:src="@{/GameCard/GameCard.umd.min.js}"></script>
    <script th:src="@{/Navbar/Navbar.umd.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/game.css">
    <style>
        .chart-container {
            position: relative;
            min-width: 50%;
            margin: 4rem auto auto;
            background-color: black;
        }
    </style>
</head>
<body class="flex h-screen gradient">
<div id="navigation">
    <navbar></navbar>
</div>
<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
    <div class="h-40 lg:h-20 w-full flex flex-wrap">
        <nav id="header1" class="bg-gray-100 w-auto flex-1 border-b-1 border-gray-300 order-1 lg:order-2">
            <div class="flex h-full justify-between items-center">
                <div class="relative w-full max-w-3xl px-6">
                    <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
                        <svg class="h-4 w-4 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                    </div>
                    <input id="search-toggle" type="search" placeholder="search"
                           class="block w-full bg-gray-200 focus:outline-none focus:bg-white focus:shadow-md text-gray-700 font-bold rounded-full pl-12 pr-4 py-3"
                           onkeyup="updateSearchResults(this.value);">
                </div>
                <div class="flex relative inline-block pr-6">
                    <div class="relative text-sm">
                        <button id="userButton" class="flex items-center focus:outline-none mr-3">
                            <span class="hidden md:inline-block">Hi, User </span>
                        </button>
                        <div id="userMenu"
                             class="bg-white nunito rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                            <ul class="list-reset">
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">My
                                    account</a>
                                </li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Notifications</a>
                                </li>
                                <li>
                                    <hr class="border-t mx-2 border-gray-400">
                                </li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="flex flex-wrap mb-4" id="app" style="padding: 50px">

        <div class="grid grid-cols-1 lg:grid-cols-4">
            <div class="col-span-2">
                <p class="text-gray-1200 font-bold text-4xl mb-2 text-center"> Your last game </p>
                <game-card v-bind:hostname="'Hawks'" v-bind:hostscore="'1'" v-bind:guestname="'Best team'" v-bind:guestscore="'2'" v-bind:gamedate="'2020-12-2'" style="margin-left: 5rem; margin-right: 5rem"> </game-card> <br>
            </div>

            <div class="m-8 max-w-sm rounded overflow-hidden shadow-lg" style="max-width: 20rem">
                <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                    <div class="mb-8 text-center content-center">
                        <div class="text-gray-1200 font-bold text-xl mb-2">Your data</div>
                        <p class="text-gray-700 text-base">
                            <b> Height: </b> 160 <br>
                            <b> Weight: </b> 60 <br>
                            <b> Position: </b> Left wing<br>
                            <b> Shoots: </b>  Left
                        </p>
                    </div>
                    <div class="flex items-center text-center content-center flex-wrap">
                        <div class="text-sm flex-1">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                View your full player statistics
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-8 max-w-sm rounded overflow-hidden shadow-lg" style="max-width: 20rem">
                <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                    <div class="mb-8 text-center content-center">
                        <div class="text-gray-1200 font-bold text-xl mb-2">Your team</div>
                        <p class="text-gray-700 text-base">
                            <b> Height: </b> 160 <br>
                            <b> Weight: </b> 60 <br>
                            <b> Position: </b> Left wing<br>
                            <b> Shoots: </b>  Left
                        </p>
                    </div>
                    <div class="flex items-center text-center content-center flex-wrap">
                        <div class="text-sm flex-1">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                View your full player statistics
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="chart-container">
            <canvas id="chart_0"></canvas>
        </div>

        <script>
            (function () {
                new Vue({
                    el: '#navigation',
                    components: {
                        navbar: Navbar
                    }
                })
            })();

            (function () {
                new Vue({
                    el: '#app',
                    components: {
                        gameCard: GameCard
                    }
                })
            })();
        </script>
    </div>
</div>
<script>
    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            if (checkParent(target, userMenu)) {
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else {
                    userMenuDiv.classList.add("invisible");
                }
            } else {
                userMenuDiv.classList.add("invisible");
            }
        }
    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) {
                return true;
            }
            t = t.parentNode;
        }
        return false;
    }
</script>
<script>
    var data = {
        labels: ["Oct", "Nov", "Dec", "Jan", "Feb", "Mar", "Apr"],
        datasets: [{
            label: "Goals",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: [65, 59, 20, 81, 56, 55, 40],
        }]
    };

    var option = {
        scales: {
            yAxes: [{
                stacked: true,
                gridLines: {
                    display: true,
                    color: "rgba(255,99,132,0.2)"
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false
                }
            }]
        },
        title: {
            display: true,
            text: 'Goals per month'
        }
    };

    Chart.Bar('chart_0', {
        options: option,
        data: data
    });
</script>
</body>
</html>