<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Error! </title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        html {
            font-family: 'Montserrat', sans-serif;
        }

        .gradient {
            background: linear-gradient(90deg, #d52a33 20%, #da7116 90%);
        }
    </style>
</head>

<body class="h-screen gradient">
<div class="h-screen w-screen flex justify-center content-center flex-wrap">
    <p class="font-sans text-white error-text text-6xl">
        Error! <br>
        This page could not be found.
    </p>
</div>

<div class="absolute w-screen bottom-0 mb-6 text-white text-center font-sans text-2xl">
    <span class="opacity-50">Take me back to</span>
    <a class="border-b" href="/">sticksnpucks.com</a>
</div>
</body>
</html>