<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View team</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script th:src="@{/TeamCard/GameCard.umd.min.js}"></script>
    <script th:src="@{/Navbar/Navbar.umd.min.js}"></script>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/game.css">

</head>

<body class="flex h-screen gradient">
<div id="navigation">
    <navbar></navbar>
</div>
<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
    <div class="h-40 lg:h-20 w-full flex flex-wrap">
        <nav id="header1" class="bg-gray-100 w-auto flex-1 border-b-1 border-gray-300 order-1 lg:order-2">
            <div class="flex h-full justify-between items-center">
                <div class="relative w-full max-w-3xl px-6">
                    <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
                        <svg class="h-4 w-4 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                    </div>
                    <input id="search-toggle" type="search" placeholder="search"
                           class="block w-full bg-gray-200 focus:outline-none focus:bg-white focus:shadow-md text-gray-700 font-bold rounded-full pl-12 pr-4 py-3"
                           onkeyup="updateSearchResults(this.value);">
                </div>
                <div class="flex relative inline-block pr-6">
                    <div class="relative text-sm">
                        <button id="userButton" class="flex items-center focus:outline-none mr-3">
                            <span class="hidden md:inline-block">Hi, User </span>
                        </button>
                        <div id="userMenu"
                             class="bg-white nunito rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                            <ul class="list-reset">
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">My
                                    account</a></li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Notifications</a>
                                </li>
                                <li>
                                    <hr class="border-t mx-2 border-gray-400">
                                </li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="flex flex-wrap mb-4" id="app" style="padding-left: 25%">
        <div class="main-wrapper" style="background-image: url('/pics/puck-drop.jpg');max-height: 15rem;" >
            <div class="schedule">
                <div class="cellcontainer left-team">
                    <div class="team-info">
                        <div class="team-title">Belgium</div>
                        <div class="team-color" style="background-color: rgb(21, 149, 211);"></div>
                    </div>
                    <div class="team-score"> 6 </div>
                </div>
                <div class="cellcontainer cellcontainer--scoring">
                    <div class="versus">VS</div>
                    <div class="game-date">15 JAN 2019</div>
                </div>
                <div class="cellcontainer right-team">
                    <div class="team-score"><span>0</span></div>
                    <div class="team-info">
                        <div class="team-title">Bulgaria </div>
                        <div class="team-color" style="background-color: rgb(206, 33, 31);"></div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<script src="js/menu.js"> </script>
<script>
    (function () {
        new Vue({
            el: '#navigation',
            components: {
                navbar: Navbar
            }
        })
    })();
</script>
</body>
</html>