<html>
<body>
<h1 th:text="${title}">This title will be replaced</h1>
<p> Here comes a Vue component!</p>

<script src="https://unpkg.com/vue"></script>

<div id="app">
    <team-card v-bind:name="'Hawks'" v-bind:description="'Best team'"></team-card>
    <team-card v-bind:name="'Hanen'" v-bind:description="'Okay team'"></team-card>
</div>

<script th:src="@{/TeamCard/TeamCard.umd.min.js}"></script>
<script>
    (function() {
        new Vue({
            el: '#app',
            components: {
                teamCard: TeamCard
            }
        })
    })();

</script>
</body>
</html>