<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penalties in ice hockey</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://unpkg.com/vue"></script>
    <script th:src="@{/Navbar/Navbar.umd.min.js}"></script>
</head>

<body class="flex h-screen gradient">
<div id="navigation">
    <navbar></navbar>
</div>
<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16">
    <div class="h-40 lg:h-20 w-full flex flex-wrap">
        <nav id="header1" class="bg-gray-100 w-auto flex-1 border-b-1 border-gray-300 order-1 lg:order-2">
            <div class="flex h-full justify-between items-center">
                <div class="relative w-full max-w-3xl px-6">
                    <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-10">
                        <svg class="h-4 w-4 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                    </div>
                    <input id="search-toggle" type="search" placeholder="search"
                           class="block w-full bg-gray-200 focus:outline-none focus:bg-white focus:shadow-md text-gray-700 font-bold rounded-full pl-12 pr-4 py-3"
                           onkeyup="updateSearchResults(this.value);">
                </div>
                <div class="flex relative inline-block pr-6">
                    <div class="relative text-sm">
                        <button id="userButton" class="flex items-center focus:outline-none mr-3">
                            <span class="hidden md:inline-block">Hi, User </span>
                        </button>
                        <div id="userMenu"
                             class="bg-white nunito rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible">
                            <ul class="list-reset">
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">My
                                    account</a></li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Notifications</a>
                                </li>
                                <li>
                                    <hr class="border-t mx-2 border-gray-400">
                                </li>
                                <li><a href="#"
                                       class="px-4 py-2 block text-gray-900 hover:bg-indigo-400 hover:text-white no-underline hover:no-underline">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <div style="margin: auto">
        <p class="text-3xl text-center">
            <br>
            Penalties
            <br>
        </p>
        <p style="padding: 1.5rem">
            There are many different types of hockey penalties, and several different hockey referee signals to indicate
            exactly what a player has done to deserve his or her time in the penalty box. Some penalties carry
            the option of being either a two-minute minor or five-minute major depending on any perceived intent to injure.
            There may also be league- and age-specific guidelines that make certain penalties more severe.
        </p>
        <table class="min-w-full table-auto">
            <thead class="justify-between">
                <tr class="bg-gray-800">
                    <th class="px-4 py-2">
                        <span class="text-gray-300">Name</span>
                    </th>
                    <th class="px-18 py-2">
                        <span class="text-gray-300">Description</span>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-gray-200 penaltiesbody" id="penaltiesbody">
            </tbody>
        </table>
    </div>
</div>
<script th:inline="javascript">
    var penalties = [[${penalties}]]; // parse the penalties from the controller
    const penaltiesArray = JSON.parse(penalties);
    console.log(penaltiesArray);
    var arrayLength = penaltiesArray.length;
    for (var i = 0; i < arrayLength; i++) {
        console.log(penaltiesArray[i].description);
        var penaltyRow = "<th class=\"px-6 py-2\"> <span>" + penaltiesArray[i].name + "</span></th><th class=\"px-20 py-2\"> <span>" + penaltiesArray[i].description + "</span> </th>";
        document.getElementById('penaltiesbody').innerHTML += penaltyRow;
    }

</script>
<script>
    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            if (checkParent(target, userMenu)) {
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else {
                    userMenuDiv.classList.add("invisible");
                }
            } else {
                userMenuDiv.classList.add("invisible");
            }
        }
    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) {
                return true;
            }
            t = t.parentNode;
        }
        return false;
    }

    (function () {
        new Vue({
            el: '#navigation',
            components: {
                navbar: Navbar
            }
        })
    })();
</script>
</body>
</html>